/* Order Summary Container */
.order-summary {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-summary h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .order-summary p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  /* Place order button - Modify as needed */
  .place-order-button {
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .place-order-button:hover {
    background: #0056b3;
  }
  
  /* Review Form Container */
  .review-form {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    width: 300
  