.toaster {
  position: fixed;
  top: 100px;
  right: 10px;
  background-color: rgb(18, 13, 183);
  color: #d5d0d0;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  max-width: 250px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s, slideOut 0.5s 4.5s;
  z-index: 9999;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    right: -300px;
  }
  100% {
    right: 10px;
  }
}

@keyframes slideOut {
  0% {
    right: 10px;
  }
  100% {
    right: -300px;
  }
}
